 
 {% include google-charts.html %}

<script>

  // initialize once the libraries have loaded
  google.charts.setOnLoadCallback(init);

  /*
  
  Colors
  
  */

  /*DEFAULT_COLOR = "035329";
  NOT_SORTED_COLOR = "c40000";
  SWAP_COLOR = "0000df";*/


  DEFAULT_COLOR = "E29805";
  NOT_SORTED_COLOR = "c40000";
  SWAP_COLOR = "686868";

  _noswitch_colors = [SWAP_COLOR];


  // returns a shuffled array
  function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex;

    while (0 !== currentIndex) {

      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    return array;
  }
  // input, output divs
  var inp, out;

  // settings variables
  var lo_lim, hi_lim, _num, _int, _vis, _autorun, _saveonrun;

  // returns true if the array is sorted, false otherwise.
  function isSorted() {
    // this will ALWAYS be < x for x being any real number.
    var last_x = -Infinity;
    for (x in array) {
      if (array[last_x] > array[x]) {
        _colors[x] = NOT_SORTED_COLOR;
        _colors[last_x] = NOT_SORTED_COLOR;
        return false;
      } else {
        _colors[x] = DEFAULT_COLOR;
        _colors[last_x] = DEFAULT_COLOR;
      }
      last_x = x;
    }
    return true;
  }

  // called right before displaying the result of an algorithm
  // If the array is not sorted, values which are out of place are colored NOT_SORTED_COLOR, SORTED_COLOR otherwise
  function finalize() {
    var last_x = -Infinity;
    var ret = true;
    function color_mac(index, color) {
      if (!_noswitch_colors.includes(_colors[index])) {
        _colors[index] = color;
      }
    }
    for (x in array) {
      if (array[last_x] > array[x]) {
        color_mac(x, NOT_SORTED_COLOR);
        color_mac(last_x, NOT_SORTED_COLOR);
        ret = false;
      } else {
        color_mac(x, DEFAULT_COLOR);
        color_mac(last_x, DEFAULT_COLOR);
      }
      last_x = x;
    }
    return ret;

  }

  // initialization function for the library
  function init() {
    getDefaults();
    updateSettings();

    inp = document.getElementById("inp");
    out = document.getElementById("output");
    chart_div = document.getElementById('chart_div');

    inp.value = getCookie("last");

    out.scrollTop = out.scrollHeight;

    chart_init();

    resetArray();

    draw();
  }

  // user values, int, and then booleans
  vals = ["lo_lim", "hi_lim", "_num", "_autorun"];

  function updateSettings() {
    for (val in vals) {
      eval(vals[val] + " = parseInt(" + $("#" + vals[val]).val() + ")");
      createCookie(vals[val], $("#" + vals[val]).val())
    }
    _vis = $('#_vis').is(":checked")
    createCookie("VISS", (_vis) ? "t" : "f")
    _int = $('#_int').is(":checked")
    createCookie("INT", (_int) ? "t" : "f")
    _saveonrun = $('#_saveonrun').is(":checked")
    createCookie("SAVEONRUN", (_saveonrun) ? "t" : "f")

    if (_vis) {
      $("#chart_div").show();
    } else {
      $("#chart_div").hide();
    }

  }

  function getDefaults() {
    for (val in vals) {
      //$("#" + vals[val]).keyup(reset)
      if (getCookie(vals[val])) {
        $("#" + vals[val]).val(getCookie(vals[val]));
      }
    }
    //$("#_vis").change(reset)
    //$("#_int").change(reset)

    if (getCookie("VISS")) {
      $("#_vis").prop('checked', getCookie("VISS") == "t");
    }
    if (getCookie("INT")) {
      $("#_int").prop('checked', getCookie("INT") == "t");
    }
    if (getCookie("SAVEONRUN")) {
      $("#_saveonrun").prop('checked', getCookie("SAVEONRUN") == "t");
    }
  }

  function runScript(e) {
    if ((e.keyCode == 10 || e.keyCode == 13) && (e.ctrlKey || e.metaKey)) {
      run();
      e.preventDefault();
      return false;
    }
    if (e.which == 9 || e.tabKey) {
      e.preventDefault();
      return false;
    }
  }

  function resetColors() {
    _colors = [];
    for (_i = 0; _i < _num; ++_i) {
      _colors.push(DEFAULT_COLOR);
    }
  }

  function resetArray() {
    _first = [];
    for (_i = 0; _i < _num; ++_i) {
      to_add = Math.random() * (1 + hi_lim - lo_lim) + lo_lim;
      if (_int) to_add = Math.round(to_add);
      _first.push(to_add);
    }
    resetColors();
    array = shuffle(_first);
    length = array.length;
    updateArray();
  }

  function finalize_autorun() {
    var last_x = -Infinity;
    var ret = true;
    function color_mac(index, color) {
        _colors[index] = color;
    }
    for (x in array) {
      if (array[last_x] > array[x]) {
        color_mac(x, NOT_SORTED_COLOR);
        color_mac(last_x, NOT_SORTED_COLOR);
        ret = false;
      } else {
        color_mac(x, DEFAULT_COLOR);
        color_mac(last_x, DEFAULT_COLOR);
      }
      last_x = x;
    }
    //write("Autorun time took: " + (eautotime - sautotime) + "ms");
    draw();
  }
  _is_running = false, c_autorun = false, sautotime = 0, eautotime = 0, _autorun_fresh = true;
  function start_autorun() {
    if (_is_running) {
      clearInterval(c_autorun);
    }
    eautotime = performance.now();
    eval(inp.value);
    first_time  ();
    c_autorun = setInterval(function () {
        if (!isSorted()) {
          run_auto()
        } else if (_autorun_fresh) {
          _autorun_fresh = false;
          finalize_autorun()
        }
      }, _autorun);
    _is_running = true;
  }

  first_time = function() {
      write("First time");
      return -1;
  }

  each_time = function() {
      write("Each time");
      return -1;
  }

  function stop_autorun() {
    if (_is_running) {
      clearInterval(c_autorun);
    }
    eautotime = performance.now();

    finalize_autorun();
    _is_running = false;
  }

  function toggle_autorun() {
    if (_is_running) {
      stop_autorun();
    } else {
      start_autorun();
    }
  }

  //run method
  function run() {
    updateSettings();
    //resetArray();

    resetColors();
    _autorun_fresh = true;
    out.value = "";
    if (_saveonrun) {
      save();
    }
    var tnow, tend;
    tnow = performance.now();
    eval(inp.value);
    first_time();
    var _continue = true;
    while (!isSorted() && _continue) {
      if(each_time() == -1) {
        _continue = false;
      }
    }
    tend = performance.now();
    write("Took: " + (tend - tnow) + "ms");
    write("Is sorted: " + finalize());
    draw();
  }

  function save() {
    createCookie("last", inp.value);
  }

  function run_auto() {
    //updateSettings();
    //resetArray();

    resetColors();
    _autorun_fresh = true;
    out.value = "";
    if (_saveonrun) {
      save();
    }
    var tnow, tend;
    tnow = performance.now();
    each_time();
    tend = performance.now();
    write("Took: " + (tend - tnow) + "ms");
    write("Is sorted: " + finalize());
    draw();
  }

  function reset() {
    stop_autorun();
    updateSettings();
    resetArray();

    out.value = "";
    array = shuffle(_first);
    draw();
  }
  function err(text) {
    write("ERROR: " + text);
  }
  function write(text) {
    out.value = out.value + text + "\n";
    console.log(text);
  }

  var example_code = ["/* \n\
 \n\
 Sort[101] Example Code: Bubble sort \n\
 \n\
 Time complexity: O(n^2), space complexity: O(n) \n\
 \n\
*/ \n\
 \n\
while (!isSorted()) { \n\
  for (i = 0; i < length-1; i++) { \n\
    if (array[i] > array[i+1]) { \n\
      swap(i, i+1); \n\
    } \n\
  } \n\
}",
    "/* \n\
 \n\
 Sort[101] Example Code: Bubble sort step\n\
 \n\
 Time complexity: O(n^2), space complexity: O(n) \n\
 \n\
 To run, hit the `run` button to run one iteration, or\n\
 To run, hit the 'autorun' button to animate\n\
\n\
*/\n\
\n\
first_time = function() {\n\
  write(\"Starting bublesort\");\n\
}\n\
\n\
each_time = function() {\n\
  for (i = 0; i < length-1; i++) { \n\
    if (array[i] > array[i+1]) { \n\
      swap(i, i+1); \n\
    } \n\
  }\n\
}",
"/*\n\
 \n\
 Sort[101] Example Code: Insertion sort\n\
 \n\
 Time complexity: O(n^2), space complexity: O(n) \n\
\n\
 To run, hit the `run` button\n\
\n\
*/\n\
\n\
for (j = 0; j < length; ++j) {\n\
  _min = j;\n\
  for (i = j; i < length; i++) { \n\
    if (array[i] < array[_min]) {\n\
      _min = i;\n\
    }\n\
  }\n\
  swap(j, _min);\n\
}\n\
",
"/* \n\
 \n\
 Sort[101] Example Code: Insertion Sort Animated\n\
 \n\
 Time complexity: O(n^2), space complexity: O(n) \n\
\n\
 To run, hit the 'autorun' button to animate\n\
\n\
*/\n\
\n\
first_time = function() {\n\
  write(\"Starting insertion sort\");\n\
  j = 0;\n\
}\n\
\n\
each_time = function() {\n\
  _min = j;\n\
  for (i = j; i < length; i++) { \n\
    if (array[i] < array[_min]) {\n\
      _min = i;\n\
    }\n\
  }\n\
  swap(j, _min);\n\
  j++;\n\
}",
"/*\n\
  Sort[101] Example Code: Merge Sort Animated\n\
\n\
  Click `run` to run with full speed, or\n\
  Click `autorun` to run and animated, or\n\
  \n\
\n\
*/\n\
\n\
function merge(a, b) {\n\
  pa = pb = 0, ret=[];\n\
  while (pa < a.length && pb < b.length) {\n\
    if (a[pa] < b[pb]) {\n\
       ret.push(a[pa++]);\n\
    } else {\n\
       ret.push(b[pb++]);\n\
    }\n\
  }\n\
  for (; pa < a.length; ++pa) ret.push(a[pa]);\n\
  for (; pb < b.length; ++pb) ret.push(b[pb]);\n\
  return ret;\n\
}\n\
\n\
function insert(arr, idx) {\n\
  array = array.slice(0, idx).concat(arr).concat(array.slice(idx+arr.length))\n\
}\n\
\n\
first_time = function() {\n\
  group = 1;\n\
}\n\
\n\
\n\
each_time = function() {\n\
  for (i = 0; i <= length - 2 * group; i+=2*group) {\n\
    insert(merge(array.slice(i, i+group), array.slice(i+group, i+2*group)), i);\n\
  }\n\
  group *= 2;\n\
}\n\
"
  ];


  function changeExample(thing) {
    inp.value = example_code[parseInt(thing.value)];
  }

  var createCookie = function (name, value) {
    value = value.replace(/(?:\r\n|\r|\n)/g, '__n_no_var');
    value = value.replace(/(?:\;)/g, '__s_no_var');
    document.cookie = name + "=" + value + ";";
  }

  function getCookie(c_name) {
    if (document.cookie.length > 0) {
      c_start = document.cookie.indexOf(c_name + "=");
      if (c_start != -1) {
        c_start = c_start + c_name.length + 1;
        c_end = document.cookie.indexOf(";", c_start);
        if (c_end == -1) {
          c_end = document.cookie.length;
        }
        return unescape(document.cookie.substring(c_start, c_end)).replace(/__n_no_var/g, "\n").replace(/__s_no_var/g, ";");
      }
    }
    return "";
  }
</script>